<div class="container">
  <ul class="nav nav-pills">
    <li><a>Home</a></li>
    <li><a href="login">Login</a></li>
    <li><a (click)="logout()">Logout</a></li>
  </ul>
</div>
<div class="container">
<h1>Orders</h1>
<div [hidden]="!authenticated">
  <p>{{ orders.length }} Orders in Queue</p>

  <table cellspacing="5px" style="border:1px solid black;" border="1">
    <tr>
      <th style="padding:10px">Order ID</th>
      <th style="padding:10px">Items</th>
      <th style="padding:10px">Shipping Address</th>
    </tr>
    <tr>
      <td>{{ orders[0].orderId }}</td>
      <td style="align: center">{{ orders[0].items.length }}</td>
      <td>{{ orders[0].shippingAddress}}</td>
    </tr>
    <tr>
      <td>{{ orders[1].orderId }}</td>
      <td>{{ orders[1].items.length }}</td>
      <td>{{ orders[1].shippingAddress}}</td>
    </tr>
  </table>
</div>
<div [hidden]="authenticated">
	<p>Login to see your orders</p>
</div>
